<link rel="stylesheet" href="/css/layout.css">
<header class="header-bar">
    <div class="header-left">
        <button class="logo-btn">
            <img src="/imgs/finalLogo.jpg" alt="IlmQuest" class="logo-img">
        </button>

        <div class="greeting">
            <h3>Assalāmu ʿalaykum,</h3>
            <h2><%= user.firstName || "Guest" %></h2>
        </div>
    </div>

    <nav>
        <ul class="nav-links" id="menu">
            <li><a href="/student/home">Home</a></li>
            <li><a href="/student/missions">Missions</a></li>
            <li><a href="/student/grades">Grades</a></li>
            <!-- <li><a href="/student/Library">Library</a></li> -->
            <li><a href="/profile">Profile</a></li>
            <!-- <li><a href="/logout">Logout</a></li> -->
        </ul>
    </nav>
</header>
